.decisions {
  margin-bottom: 48px;
  background-color: #464b5e;
}

.decisions__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 14px 16px;

  background-color: #3c4251;
}

.decisions__title {
  color: #a5afd7;
  line-height: 25px;
}

.decisions__remove-all-btn {
  padding: 4px 6px;
  line-height: 17px;
  color: #a5afd7;

  &:hover {
    color: white;
  }

  &:focus {
    outline: 1px solid white;
  }
}

.decisions__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px 16px 31px 16px;
  border-bottom: 1px solid #5c627b;
}

.decisions__value {
  font-size: 20px;
  font-weight: 500;

  word-break: break-all;
  margin-right: 16px;
}

.decisions__remove-btn {
  padding: 4px 6px;
  line-height: 18px;
  color: #a5afd7;

  &:hover {
    color: white;
  }

  &:focus {
    outline: 1px solid white;
  }
}

.decisions__add {
  padding: 16px;
}

.decisions__add__form {
  display: flex;
}

.decisions__add__input {
  flex-grow: 1;

  padding: 12px;
  margin-right: 12px;

  color: #a5afd7;
  background-color: #333745;
  border-bottom: 3px solid #1d2028;

  &:focus {
    outline: none;
    border-bottom-color: white;
  }
}

.decisions__add__submit-btn {
  padding: 12px;

  background-color: #8357c5;
  border-bottom: 3px solid #693cad;

  font-weight: 500;

  &:focus {
    outline: 1px solid white;
  }
}

.decisions__list__message {
  padding: 32px;

  text-align: center;
  line-height: 18px;

  color: #a5afd7;
  border-bottom: 1px solid #5c627b;
}

.decisions__add__message {
  color: #a5afd7;
  font-style: italic;
  line-height: 18px;
  margin-bottom: 16px;
}
